@model IEnumerable<wbaab.Models.thresholdModel>


@{
    ViewBag.Title = "Threshold";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts {
    @*<script src="~/Scripts/signalR/jquery-3.4.1.min.js"></script>*@
    <script src="~/Scripts/signalR/jquery.signalR-2.4.1.min.js"></script>
    <script type="text/javascript">
        //Reference to simpleHub proxy
        var simpleHubProxy;
        var url = "@ViewBag.urlSignalR";
        var lsThreshold = [];
        
        //Connect to the SignalR server and get the proxy for simpleHub
        function connect() {
            console.log("conn");

            $.getScript(url + "/hubs", function () {
                $.connection.hub.url = url;

                // Declare a proxy to reference the hub.
                simpleHubProxy = $.connection.simpleHub;

                //Reigster to the "AddMessage" callback method of the hub
                //This method is invoked by the hub
                simpleHubProxy.client.addMessage = function (name, message) {
                    //writeToLog(name + ":" + message);
                };

                //Connect to hub
                $.connection.hub.start().done(function () {
                    //writeToLog("Connected.");
                    simpleHubProxy.server.setUserName("adm_threshold");
                });
            });
        }

        //Disconnect from the server
        function disconnect() {
            if (simpleHubProxy != null) {
                $.connection.hub.stop();
                simpleHubProxy = null;                
            }
        }

        var i = 0;
        setInterval(function () {
            i = i + 1;
            console.log("i : " + i);
            if (i == 5) {
                console.log("simpleHubProxy : " + simpleHubProxy);
                if (simpleHubProxy == null) {
                    console.log("simpleHubProxy null");
                    connect();
                }
                i = 0;
            }
        }, 1000);
    </script>
}
    <script>
    function formatHHMMss(time) {
        var date = new Date(null);
        date.setSeconds(time);
        var result = date.toISOString().substr(11, 8);

        return result;
    }
    function getPopEdit(seqCd) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getThreshold", "Admin", "")',
            dataType: 'json',
            data: {
                "seqCd": seqCd
            },
            async: false,
            success: function (data) {
                console.log(data.data.thresholdSeqCd);
                $("#txtAuxReasonCode").val(data.data.thresholdSeqCd);
                $("#txtAuxReason").val(data.data.thresholdName);
                $("#txtThresholdTime").val(data.data.thresholdTime);
            },
            error: function (request, status, error) {
                alert('error on getPopEdit : ' + request.responseText);
            }
        });
    };
    $(document).ready(function () {
        $("#adminWallboard").addClass("active");
        $("#adminThreshold").addClass("active");
        //
        //connect();        
        //
        $('#btnSubmit').click(function (e) {
            e.preventDefault();
            //console.log($("#txtAuxReasonCode").val());
            objData = {};
            objData.thresholdSeqCd = $("#txtAuxReasonCode").val();
            objData.thresholdName = $("#txtAuxReason").val();
            objData.thresholdTime = $("#txtThresholdTime").val();
            //
            $.ajax({
                type: 'POST',
                url: '@Url.Action("updateThreshold", "Admin", "")',
                dataType: 'json',
                data: {
                    "mod": objData
                },
                success: function (data) {
                    if (data.status) {
                        if (simpleHubProxy != null) {
                            simpleHubProxy.server.send("Edit");
                        }
                        location.reload();                        
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });
        });
    });

    </script>
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="Admin/Index"> Admin</a></li>
            <li class="active">Threshold Aux Reason</li>
        </ul>
    </div>
    <div class="padding-md">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-heading">
                    @ViewBag.Title List
                </div>
                <div class="panel panel-danger table-responsive">
                    <div class="padding-md clearfix">
                        @Html.Raw(TempData["msg"])                         
                        <table class="table table-striped" id="dataTable">
                            <thead>
                                <tr>
                                    <th style="width:15%">AUX Reason Code</th>
                                    <th style="width:50%">AUX Reason</th>
                                    <th style="width:15%">Threshold Time (s)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.thresholdSeqCd</td>
                                            <td>@item.thresholdName</td>
                                            <td>@item.thresholdTime</td>
                                            <td>
                                                <a href="#frmEditModal" role="button" data-toggle="modal" class="btn btn-xs btn-success" onclick="getPopEdit(@item.thresholdSeqCd)">Edit</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="frmEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>@ViewBag.Title Edit Form</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Aux Reason Code</label>
                            <input type="text" class="form-control input-sm" id="txtAuxReasonCode" placeholder="Aux Reason Code" readonly>
                        </div>
                        <div class="form-group">
                            <label>AUX Reason</label>
                            <input type="text" class="form-control input-sm" placeholder="AUX Reason" id="txtAuxReason" readonly>
                        </div>
                        <div class="form-group">
                            <label>Threshold Time</label>
                            <input type="text" class="form-control input-sm" placeholder="Threshold Time" id="txtThresholdTime" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-success btn-sm" id="btnSubmit" data-dismiss="modal" aria-hidden="true">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script>
        $(function () {
            $('#dataTable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers"
            });
        });
    </script>

}
